@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
    <div class="col-md-10 offset-md-1">
        <section>
        <div class="login-form-icon pd-5">
                <i class="fas fa-user-circle fa-9x text-secondary"></i>
            </div>
            <form id="account" 
                  method="post">
                <div asp-validation-summary="ModelOnly" 
                     class="text-danger">
                </div>
                <div class="form-floating pd-5">
                    <input asp-for="Input.Email" 
                           class="form-control" 
                           autocomplete="username" 
                           aria-required="true" />
                    <label asp-for="Input.Email" 
                           class="form-label">
                    </label>
                    <span asp-validation-for="Input.Email" 
                          class="text-danger">
                    </span>
                </div>
                <div class="form-floating pd-5">
                    <input asp-for="Input.Password" 
                           class="form-control" 
                           autocomplete="current-password" 
                           aria-required="true" />
                    <label asp-for="Input.Password" 
                           class="form-label">
                    </label>
                    <span asp-validation-for="Input.Password" 
                          class="text-danger">
                    </span>
                </div>
                <div>
                    <div class="checkbox pd-5">
                        <label asp-for="Input.RememberMe" 
                               class="form-label">
                            <input class="form-check-input" 
                                   asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="offset-2 pd-5">
                    <button id="login-submit" 
                            style="width: 80%" 
                            type="submit" 
                            class="btn btn-lg btn-primary">
                        Log in
                    </button>
                </div>
            </form>
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
